group{
    display: contents;
}

negatif{
    color: var(--color-1);
    background: var(--color-2);
    --color-main:  var(--color-1);
}

.f5{
    flex-grow: 5;
}
.f3{
    flex-grow: 3;
}

/*Font*/
i{
    white-space: nowrap;
}
b{
    font-weight: 900;
}
c-2{
    color: var(--color-2);
}

/*Grid*/
g-0{
    display: grid;
    grid-template-columns: min-content min-content;
    grid-auto-rows: min-content;
    gap: 0 var(--size-3);
}
g-1{
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto;
    gap: 0 var(--size-3);
}

/*Lines*/
v-l{
    width: 0;
    overflow-x: visible;
}
v-l::before{
    content: '';
    display: block;
    width: calc(var(--size-4) / 4);
    height: 100%;
    background: var(--color-main);
    position: relative;
    left: calc(var(--size-4) / -8)
}
h-l{
    height: 0;
    overflow-y: visible;
}
h-l::before{
    content: '';
    display: block;
    height: calc(var(--size-4) / 4);
    width: 100%;
    background: var(--color-main);
    position: relative;
    top: calc(var(--size-4) / -8)
}


/*Font Size*/
f-0{
    font-size: var(--size-0);
}
f-1{
    font-size: var(--size-1);
}
f-2{
    font-size: var(--size-2);
}
f-3{
    font-size: var(--size-3);
}
f-4{
    font-size: var(--size-4);
}


/*Layout flex*/
r-n{
    display: flex;
    flex-flow: row nowrap;
}
c-n{
    display: flex;
    flex-flow: column nowrap;
}
r-w{
    display: flex;
    flex-flow: row wrap;
}

/*Negative height*/
h-0{
    height: var(--size-0);
}
h-1{
    height: var(--size-1);
}
h-2{
    height: var(--size-2);
}
h-3{
    height: var(--size-3);
}
h-4{
    height: var(--size-4);
}

/*Negative width*/
w-0{
    width: var(--size-0);
}
w-1{
    width: var(--size-1);
}
w-2{
    width: var(--size-2);
}
w-3{
    width: var(--size-3);
}
w-4{
    width: var(--size-4);
}